.section__products {
  background-color: rgba(16, 15, 18, 1);
  padding-top: 44px;
  color: #fff;

  &-inner {
    h2 {
      font-size: calc(20px + 22 * ((100vw - 320px) / 1250));
      font-weight: 700;
      line-height: 53.25px;
      text-align: center;
      margin-bottom: 90px;
    }
  }

  &-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 90px;

    .section__cards-img {
      width: 100%;
      max-width: 600px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .section__products-list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .section__products-item {
      background-color: #fff;
      color: #000;
      border-radius: 26px;
      padding-top: 38px;
      padding-left: 64px;
      padding-right: 64px;
      display: flex;
      justify-content: space-between;
      &:last-child {
        padding-bottom: 83px;
      }
      &:last-child .section__product-item-image {
        align-self: center;
      }
    }
    .section__product-item-info {
      width: 100%;
      max-width: 639px;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / 1250));
        font-weight: 700;
        line-height: 43.57px;
        max-width: 434px;
        margin-bottom: 28px;
      }
      .product__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .product__list li {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        padding-left: 10px;
        &::before {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #000;
          margin-right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .header__body-list {
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        width: 100%;
        @media (max-width: 1135px) {
          max-width: 450px;
        }
        @media (max-width: 366px) {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
        .header__body-item {
          background-color: rgba(30, 30, 30, 1);
          border-radius: 17px;
          color: #fff;
          width: 100%;
          max-width: 82px;
          height: 58px;
          padding: 0 10px;
          @media (max-width: 366px) {
            max-width: 147px;
          }
          &-inner {
            display: flex;
            height: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            font-size: 11px;
            font-weight: 400;
            line-height: 14.4px;
            text-align: center;
            @media (max-width: 366px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .product__info-img {
    margin-bottom: 54px;
  }
  .section__product-item-image {
    width: 100%;
    max-width: 263px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}