@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('..//fonts/Inter18pt-Thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('..//fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('..//fonts/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('..//fonts/Inter18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('..//fonts/Inter18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.button {
  background-color: rgba(215, 16, 42, 1);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.71px;
  padding: 15px 30px;
  border-radius: 59px;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    box-shadow:  2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(201, 15, 40);
  }
}
.button-big {
  padding: 18px 40px
}

@import 'header';
